@font-face {
    font-family: "Rubik Bold";
    src: url("../fonts/Rubik-Bold.ttf");
}

@font-face {
    font-family: "Rubik Medium";
    src: url("../fonts/Rubik-Medium.ttf");
}

@font-face {
    font-family: "Rubik Regular";
    src: url("../fonts/Rubik-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik Regular";
}

.container {
    text-align: center;
    min-width: 1366px;
    margin: 0 auto;
}

.button {
    color: #FFFFFF;
    font-size: 16px;
    background-color: #12569B;
    border-radius: 50px;
    border: transparent;
}

.button:hover {
    cursor: pointer;
    background-color: #12569B;
    opacity: 0.8;
}
.button:active{
    cursor: pointer;
    background-color: #12569B;
    opacity: 0.7;
}

.button__header {
    width: 203px;
    height: 52px;
}

.header {
    height: 560px;
    display: flex;
    background-color: #E3E6ED;
    padding: 0 104px;
    margin: 0 auto;
}

.header__container {
    position: relative;
    display: flex;
    width: 970px;
    margin: 0 auto;

}

.header__content {
    width: 430px;
    margin-top: 40px;
    text-align: left;
}

.header__icon {
    display: block;
    margin-bottom: 105px;
}

.header__content h1{
    font-family: "Rubik Bold" ;
    width: 325px;
    font-weight: 700;
    font-size: 72px;
    line-height: 94%;
    align-items: center;
    letter-spacing: 0.19em;
    margin-bottom: 40px;
}

.header__back {
    position: absolute;
    right: 0;
    height: 460px;
}

.header__dron {
    position: absolute;
    right: 0;
    top: 129px;
    height: 301px;
    margin-right: 40px;
}

.main {
    position: relative;
    height: 580px;
    padding: 80px 104px 0 104px;
    margin: 0 auto;
}

.main h2{
    font-family: 'Rubik medium';
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 18px;
    color: #212033;
}

.main p{
    display: block;
    width: 693px;
    
    font-family: 'Rubik regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto 60px auto;
    color: #212033;
}

.main__images{
    /* position: relative; */
    display: flex;
    justify-content: center;
}

.main__images img{
    width: 327px;
    height: 192px;
    border-radius: 10px;
}

.main__images img:nth-child(2){
    margin: 0 20px;
}

.main__images::before{
    position: absolute;
    content: "";
    height: 80px;
    width: 95%;
    background-color: #E3E6ED;
    left: 0;
    bottom: 150px;
    z-index: -1;
}

.donate {
    height: 320px;
    margin: 0 auto;
    padding: 0 104px;;
    margin-bottom: 80px;
}

.donate h2{
    font-family: "Rubik Medium";
    font-weight: 700;
    font-size: 52px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 60px;
    color: #212033;
}

.donate__form{
    display: flex;
    width: 890px;
    margin: 0 auto;
}

.donate__foundation{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-right: 30px;
}

.donate__foundation label{
    position: relative;
    width: 280px;
    height: 36px;
    line-height: 36px;
    color: #12569B;
}

.donate__foundation :first-child,
.donate__foundation :not(:last-of-type) {
    margin-bottom: 11px;
}

input {

    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 10px 30px;
}

input[type=radio] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input[type=radio] ~ span{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: transparent;
    border: solid #12569B 1px;
    cursor: pointer;
}

input[type=radio]:checked ~ span{
    background-color: #E3E6ED;
}

input[type=radio] ~ span::after{
    content:"";
}

input[type=radio]:checked ~ span::after{
    content:"✓";
    right: 30px;
    position: absolute;
}

.donate__first__col{
    width: 290px;
    margin-right: 20px;
}

.donate__first__col > label{
    margin-bottom: 22px;
}

.donate__first__col > div{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.donate__first__col > div label {
    display: inline-block;
    width: 130px;
}

.donate__first__col > div label > input {
    margin-top: 11px;
}

.donate__second__col{
    width: 280px;
}

.donate__card {
    display: flex;
    width: 570px;
}

.donate__card > *{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.donate__card label{
    text-align: left;
}

.donate__card label > input {
    height: 64px;
    width: 100%;
    border-radius: 10px;
    border: solid #12569B 1px;
    margin-top: 11px;
}

.button__donate {
    width: 280px;
    height: 64px;
}

.footer {
    padding-top: 40px;
    font-family: 'Rubik Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.16em;
    color: #FFFFFF;
    height: 163px;
    left: 0px;
    background-color: #12569B;
}

.footer > p {
    margin-bottom: 30px;
}